.heading {
    padding: 20px;
    margin: auto;
}

.contact-info {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: 10%;
    padding-left: 20px;
    width: 50%;
    max-width: 200px;
    float: right;
}
.text {
    float: left;
    padding: 20px;
    margin: auto;
    background-image: linear-gradient(to right, lightgray, transparent);
}

@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

#social-platforms {
    position: relative;
    top: 20px;
    font-size: 1rem;
    text-align: center;
    height: 50px;
    overflow: hidden;
}

.btn {
    clear:both;
    white-space:nowrap;
    font-size:.8em;
    display:inline-block;
    border-radius:5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
    margin:2px;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
    overflow:hidden
}

.btn:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
}

.btn:focus {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.btn > span,.btn-icon > i {
    float:left;
    padding:13px;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
    line-height:1em
}

.btn > span {
    padding:14px 18px 16px;
    white-space:nowrap;
    color:#FFF;
    background:#b8b8b8
}

.btn:focus > span {
    background:#9a9a9a
}

.btn-icon > i {
    border-radius:5px 0 0 5px;
    position:relative;
    width:13px;
    text-align:center;
    font-size:1.25em;
    color:#fff;
    background:#212121
}

.btn-icon > i:after {
    content:"";
    border:8px solid;
    border-color:transparent transparent transparent #222;
    position:absolute;
    top:13px;
    right:-15px
}

.btn-icon:hover > i,.btn-icon:focus > i {
    color:#FFF
}

.btn-icon > span {
    border-radius:0 5px 5px 0
}

/*Facebook*/
.btn-facebook:hover > i,.btn-facebook:focus > i {
    color:#3b5998
}

.btn-facebook > span {
    background:#3b5998
}

/*LinkedIn*/
.btn-linkedin:hover > i,.btn-linkedin:focus > i {
    color:#007bb6
}

.btn-linkedin > span {
    background:#007bb6
}

/*Github*/
.btn-github:hover > i,.btn-github:focus > i {
    color:gray;
}

.btn-github > span {
    background:gray;
}
