.menu {
    background-image: linear-gradient(to right, whitesmoke, grey);
    box-shadow: 20px 20px 50px grey;
    text-align: left;
    font-variant: small-caps;
    cursor: pointer;
    margin: 0 auto;
    padding: 0 0 12px;
    position: sticky;
    z-index: 100;
    top: 0;
    display: inline-flex;
    width: 100%;
}

.li-style {
    list-style: none;
    padding: 12px 2px 0 25px;
}

.container {
    max-width: 65%;
    min-width: 150px;
    margin: 0 auto;
    text-align: center;
    padding: 5px 50px;
}

.header {
    background-color: whitesmoke;
    box-shadow: 20px 20px 50px grey;
    text-align: center;
    padding: 5px 5px 5px 5px;
    font-variant: small-caps;
    transition: all 0.5s;
    cursor: pointer;
}

.header:hover {
    box-shadow: 5px 5px 10px grey;
}

.table {
    padding-bottom: 10px;
    padding-right: 10px;
    border-collapse: separate;
    text-align: center;
}

.item {
    background-color: whitesmoke;
    position: relative;
    box-shadow: 5px 5px 10px grey;
    text-align: left;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    font-variant: small-caps;
    font-size: large;
    width: 150px;
    transition: all 0.3s;
    cursor: pointer;
    display: inline-block;
}

.item:hover {
    box-shadow: 2px 2px 6px grey;
}

.item:active {
    background-color: rgba(50,50,50,0.52);
    box-shadow: 2px 2px 6px grey;
}

.button {
    background-color: whitesmoke;
    position: relative;
    box-shadow: 5px 5px 10px grey;
    text-align: center;
    font-family: Book Antiqua, serif;
    width: 70px;
    height: 25px;
    margin: 12px 0 12px 0;
}

.button:active {
    background-color: rgba(50,50,50,0.52);
    box-shadow: 2px 2px 6px grey;
}
